# Server configuration
PORT=3000

# MongoDB Atlas connection string (optional - app works without it)
MONGODB_URI=mongodb+srv://brendanseit_db_user:mcJhhvpvunMWWv3j@cluster0.dya5fx2.mongodb.net/


# Upstash Redis configuration (optional - app works without it)
UPSTASH_REDIS_REST_URL="rediss://default_ro:ggAAAAAAAeXeAAIgcDJp8JgzgdWvocNqF1GW8ibt7SO-QpP8ydBMLpu5x7ESfA@strong-gnu-124382.upstash.io:6379"
UPSTASH_REDIS_REST_TOKEN=redis-cli --tls -u redis://default:gQAAAAAAAeXeAAIgcDIxYzU3YTFlY2MzMTQ0ZjRkYTZkNGUxNGRlMDU0ZjBiZA@strong-gnu-124382.upstash.io:6379

# JWT Secret for cookie/session signing
JWT_SECRET=some_very_long_random_string_make_sure_it_is_secure_12345